/* color scheme: Tan: #e2d0b9; Light Blue: #3960a2; Dark Blue: #043694; Light Brown: #776150
Dark Brown: #30221d; */
html,
body {
    font-family: 'Sanchez', serif;
    /* margin: 20px; */
    background-color: #e2d0b9;
    color: #000000;
    height: 100%;
    /* overflow: hidden; */
}

main#mainstuff {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    /* text-transform: uppercase; */
    padding: 30px 15px 5px 15px;
    text-align: center;
    color: #000000;
    font-weight: 900;
    /* font-weight: bolder; */
}

h2 {
    font-family: 'Sanchez', serif;
    font-size: 20px;
    color: #000000;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

h3 {
    font-family: 'Sanchez', serif;
    font-size: 16px;
    color: #000000;
}

svg {
    width: 24px;
    margin: 3px 3px -2px 3px;
    color: #000000;
}

.skip {
    position: absolute;
    left: -1000px;
    text-decoration: none;

}

.skip:focus {
    left: 15px;
    top: 15px;
    color: #F6F6F6;
    outline: none;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

#links-left {
    display: flex;
    flex-direction: column;
}

#links-left>li {
    padding: 15px 20px 0 20px;
}

#links-left>li>a,
#links-left>li>a:visited {
    text-decoration: none;
    text-transform: lowercase;
    color: #000000;
}

#links-right {
    display: flex;
    flex-direction: column;
}

#links-right>li {
    padding: 15px 20px 0 20px;
}

#links-right>li>a,
#links-right>li>a:visited {
    text-decoration: none;
    text-transform: lowercase;
    color: #000000;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icons>li {
    margin: 5px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered>h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 46px;
    color: #ffffff;
    text-shadow: 2px 3px 2px #043694;
    opacity: 90%;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#photo {
    display: block;
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 5px 30px 5px 30px;
    /* background-color: #000000; */
    /* border-radius: 800px; */
    /* filter: grayscale(70%); */
}

#headshot {
    display: block;
    margin: 0 auto 0 auto;
    width: 40%;
    border-radius: 100px;
    -webkit-box-shadow: 1px 1px 2px 2px #776150;
    box-shadow: 1px 1px 2px 2px #776150;
}

p {
    font-size: 16px;
    line-height: 22px;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 20px 20px 30px 20px;
    font-size: 12px;

}

#bio {
    margin: 25px;
    text-align: center;
    font-size: 16px;
}

#bio>h1 {
    font-size: 36px;
    margin: 15px;
}

p+p {
    margin-top: 20px;
}

#mainstuff\ projects {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#project {
    padding: 25px;
    margin: 15px;
    border-radius: 5px;
    background-color: #000000;
}

#project:hover {
    -webkit-box-shadow: 1px 1px 10px 3px #000000;
    box-shadow: 1px 1px 10px 3px #000000;
}

#project>a {
    text-decoration: none;
}

#project>a>h2 {
    font-size: 20px;
    color: #ffffff;
}

#contact\ grid {
    display: grid;
}

object {
    display: none;
}

#section {
    border: none;
    width: 100%;
    align-self: center;
    border-top: 5px solid #000000;
    color: #000000;
    overflow: visible;
    /* text-align: center; */
    height: 5px;
    /* margin: 15px; */
}

#inner-section {
    border: none;
    width: 98%;
    align-self: center;
    border-top: 2px solid #000000;
    color: #000000;
    overflow: visible;
    height: 5px;
    margin: 3px;
}

.resume {
    display: flex;
    flex-direction: column;
}

.resume>h2 {
    font-family: 'League Spartan', sans-serif;
    color: black;
    font-size: 24px;
    text-align: left;
    font-weight: 900;
    margin: 10px 15px 4px 7px;
}

h3+h3 {
    font-size: 16px;
}

.resume>h3 {
    font-family: 'League Spartan', sans-serif;
    color: black;
    font-size: 20px;
    text-align: left;
    font-weight: 900;
    margin: 10px 15px 6px 7px;
}

.bullets>p {
    color: black;
    font-size: 10pt;
    margin: 5px 15px 10px 8px;
}

.bullets p:last-of-type {
    margin: 5px 15px 30px 8px;
    /* background-color: red; */
}

.s1 {
    color: black;
    font-style: italic;
    font-size: 11pt;
    margin: 5px 0 15px 7px;
}

.skills>p {
    color: black;
    font-size: 10pt;
    margin: 10px 15px 5px 7px;
}

.skills>p:last-of-type {
    margin: 10px 15px 25px 7px;
}

.courses {
    color: black;
    font-size: 10pt;
    margin: 10px 15px 20px 7px;
}

.details {
    display: flex;
    font-size: 16px;
    margin: 10pt;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.details li {
    margin: 10pt;
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 70px;
    }

    object {
        display: none;
    }

    .resume>h1 {
        text-align: left;
        color: black;
        font-size: 62px;
        margin: 100px 10px 5px 7px;
    }

    #section {
        width: 100%;
    }

    #inner-section {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 50px;
    }

    #links-left {
        display: flex;
        flex-direction: row;
    }

    #links-left>li {
        padding: 15px 20px 0 20px;
    }

    #links-left>li>a,
    #links-left>li>a:visited {
        text-decoration: none;
        text-transform: lowercase;
        color: #000000;
    }

    #links-right {
        display: flex;
        flex-direction: row;
    }

    #links-right>li {
        padding: 15px 20px 0 20px;
    }

    #links-right>li>a,
    #links-right>li>a:visited {
        text-decoration: none;
        text-transform: lowercase;
        color: #000000;
    }

    .centered>h2 {
        font-size: 60px;
    }
}

@media screen and (min-width: 1024px) {
    object {
        display: none;
        /* display: block;
        margin: 5px auto 5px auto; */
    }

    .container {
        margin: 0 50px 0 50px;
    }

    .centered>h2 {
        font-size: 75px;
    }

    #bio {
        margin: 100px;
        text-align: center;
        font-size: 16px;
    }

    #bio>h1 {
        font-size: 40px;
        margin: 20px;
    }

    .resume>h2 {
        font-size: 36px;
        margin: 8px 10px 5px 20px;
    }

    .resume>h3 {
        font-size: 24px;
        margin: 8px 15px 5px 20px;
    }

    .bullets>p {
        font-size: 14pt;
        margin: 5px 15px 12px 40px;
    }

    .bullets p:last-of-type {
        margin: 5px 0 30px 40px;
    }

    .s1 {
        font-size: 15pt;
        margin: 8px 15px 15px 20px;
    }

    .skills>p {
        color: black;
        font-size: 13pt;
        margin: 8px 15px 5px 20px;
    }

    .skills>p:last-of-type {
        margin: 8px 15px 5px 20px;
    }

    .courses {
        color: black;
        font-size: 14pt;
        margin: 10px 15px 20px 20px;
    }

    .details {
        font-size: 13pt;
        margin: 35px;
    }

    .details li {
        margin: 10pt;
    }
}

/* resume inspiration: 
1. https://www.martinemyrup.com/cv.html?hubs_content=blog.hubspot.com%252Fmarketing%252Fbest-personal-websites&hubs_content-cta=Personal%2520Resume%2520Websites 
2. https://www.alishaselena.com/*/